* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #edede9;
    overflow: hidden;
}
.logo{
    float: left;
    padding: 14px 32px;
    line-height: 15px;
}
.logo a{
    text-decoration: none;
    color: #2d6a4f;
}
.dropdown{
    float: left;
}
.dropbtn{
    font-size: 16px;
    border: none;
    padding: 34px 16px;
    outline: none;
    background-color: inherit;
    font-weight: 600;
    cursor: pointer;
}
.design{
    font-size: 40px;
    font-weight: 800;
}
.design1{
    font-size: 12px;
    font-weight: 700;
}
#boot {
    padding-top: 34px;
    display: inline-block;
}
#boot a{
    padding: 34px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}
#boot1 {
    float: right;
    padding-top: 34px;
    padding-right: 20px;
}
#boot1 a{
    padding: 34px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.color1{
    background-color: #9b5de5;
    padding: 15px 16px;
    border-radius: 50px;
    color: #edede9;
}
.color2{
    background-color: #ffb4a2;
    padding: 15px 16px;
    border-radius: 50px;
    color: #000000;
}
.color3{
    background-color: #f6bd60;
    padding: 15px 16px;
    border-radius: 50px;
    color: #000000;
}
.color4{
    background-color: #2d6a4f;
    padding: 15px 16px;
    border-radius: 50px;
    color: #edede9;
}
.dropdown:hover .dropbtn{
    background-color: #2d6a4f;
    color: #edede9;
}
#boot a:hover{
    background-color: #2d6a4f;
    color: #edede9;
}
[class*="color"]:hover{
    background-color: #87986a;
}
/* container1 start */
.container1{
    min-width: 1200px;
    min-height: 500px;
    background-color: #14213d;
}
.con1-ele{
    min-width: 800px;
    margin: 0 500px;
}
.con1-ele h1{
    text-align: center;
    font-size: 60px;
    color: #edede9;
    font-weight: 800;
    padding: 80px 0px 30px 0px;
}
.con1-ele p{
    color: #ffb4a2;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
input[type=text] {
    width: 90%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
  }
  .butn button{
    float: right;
    padding: 15px 16px 10px 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
.butn{
    margin-top: 40px;
    margin-bottom: 30px;
}
.con1-ele a{
    margin: 0 280px;
    color: #edede9;
    font-size: 25px;
    font-weight: 700;
}
.con1-ele a:hover{
    color: #2d6a4f;
}
/* container1 end */

/* container2 start */
.container2{
    min-width: 1200px;
    min-height: 500px;
    background-color: #ccd5ae;
    
}
.con2-ele{
    width: 70%;
    margin: 0 auto;
    display: flex;
    
}
.c2box1{
    width: 50%;
    min-height: 500px;
}
.c2box1 h1{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 10px;
}
.c2box1 p{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-bottom: 40px;
}
.c2box1 a{
    text-align: center;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: 700;
}
.aclass1{
    background-color: #2d6a4f;
    padding: 12px 40px;
    border-radius: 25px;
    color:#edede9;
}
[class*="aclass"]:hover{
    background-color: #87986a;
}
.aclass2{
    background-color: #f6bd60;
    padding: 12px 36px;
    border-radius: 25px;
    color:#000000;
}
.aclass3{
    background-color: #14213d;
    padding: 12px 25px;
    border-radius: 25px;
    color:#edede9;
}
.aclass4{
    background-color: #ffb4a2;
    padding: 12px 40px;
    border-radius: 25px;
    color:#000000;
}
.c2box2{
    width: 50%;
    min-height: 500px;
}
.c2box2sb1{
    width: 90%;
    min-height: 400px;
    background-color: #edede9;
    margin: 50px auto;
    border-radius: 5px;
}
.c2box2sb1 h1{
    padding-top: 25px;
    padding-left: 14px;
    padding-bottom: 15px;
}
.c2box2sb1 img{
    width: 95%;
    height: 250px;
    margin: 0px 0px 0px 14px;
    border-radius: 5px;
}
.c2box2sb1 a{
    background-color: #2d6a4f;
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 25px;
    color:#edede9;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: 700;
}
.c2box2sb1 a:hover{
    background-color: #87986a;
}
/* container2 end */

/* container3 start */
.container3{
    min-width: 1200px;
    min-height: 500px;
    background-color: #ffd7ba;
}
/* container3 end */

/* container4 start */
.container4{
    min-width: 1200px;
    min-height: 500px;
    background-color: #3d405b;
}
.container4 h1{
    color: #edede9;
}
.container4 p{
    color: #edede9;
}
.c2box2h{
    color: #000000;
}
/* container4 end */

/* container5 start */
.container5{
    min-width: 1200px;
    min-height: 500px;
    background-color: #f5ebe0;
}
/* container5 end */

/* container6 start */
.container6{
    min-width: 1200px;
    min-height: 500px;
    background-color: #8ecae6;
}
/* container6 end */
.container10{
    min-width: 1200px;
    min-height: 500px;
    background-color: red;
}
.con4-ele{
    min-width: 800px;
    margin: 0 500px;
}
.box-1{
    width: 20%;
    height: 400px;
    background-color: #2d6a4f;
    float: left;
}
.box-2{
    width: 20%;
    height: 400px;
    background-color: #9b5de5;
    overflow: hidden; 
    float: left;
    
}
.box-3{
    width: 20%;
    height: 400px;
    background-color: #f6bd60;
    overflow: hidden; 
    float: left;
    
}
.box-4{
    width: 20%;
    height: 400px;
    background-color: #edede9;
    overflow: hidden;   
}

